html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a,small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, footer, header, menu {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}

html, body {
  font-family: 'Spectral', serif;
  color:white;
  -webkit-font-smoothing: antialiased;
  /*padding-top: 7em;*/
}

#app {
  height: 100vh;
  /*padding-top: 7em;*/
}
#app.dark {
  background-color: #34495e;
  color:white;
}
#app.light {
  background-color: #eee;
  color:#555;
}
#app.light hr {
  background-color: rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

#view {
  padding-top: 7em;
}

#showerthought {
  max-width: 600px;
  margin: 0 auto;
  opacity: 0;
  animation: 1s fadeIn forwards;
  padding: 1em;
  text-align: center;
  position: relative;
}
#showerthought blockquote {
  font-size: 1.8em;
  line-height: 130%;
}
#showerthought p {
  font-size: 1.3em;
}
#showerthought::before {
  content: ',,';
  font-size: 18em;
  position: absolute;
  left: -0.1em;
  opacity: 0.1;
  top: -0.7em;
  letter-spacing: -0.07em;
  z-index: -1000;
}


hr.halfrule {
  outline: none;
  border: none;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.4);
  width: 100px;
  margin: 2em auto;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 1em;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  width: 100%;
}
footer:hover {
  opacity: 1;
}
.btn {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.2em;
  padding: 8px 12px;
  text-transform: uppercase;
  font-weight: bold;
  color:white;
  margin-right: 0.3em;
  cursor: pointer;
}
.theme-toggles:hover {
  background-color: #3498db;
}
