<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Tab</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Spectral:400,500" rel="stylesheet">
</head>
<body id="app" class="light">
  <div id="view"></div>
  <footer>
    <button class="btn" id="theme-toggle">Toggle Theme</button>
  </footer>
  <script type="text/html" id="main_tmpl">
    <div id="showerthought">
      <blockquote>
        <span class="quote">&#8220;</span><a href="<%= link %>"><%= post %></a><span class="quote">&#8221;</span>
      </blockquote>
      <p>&#8212; <%= author %></p>
    </div>
  </script>
  <script src="background.js"></script>
</body>
</html>
