<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Tab</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Spectral:400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Asap:400,500" rel="stylesheet">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body id="app" class="light">

  <div id="view"></div>
  <footer>

    <button class="btn" id="menu-toggle">Settings
      <div id="setting-pane" class="cf">
        <div class="color-wrapper"><div class="color light" data-theme="light"></div></div>
        <div class="color-wrapper"><div class="color dark" data-theme="dark"></div></div>
        <div class="color-wrapper"><div class="color blue" data-theme="blue"></div></div>
        <div class="color-wrapper"><div class="color green" data-theme="green"></div></div>
        <div class="color-wrapper"><div class="color purple" data-theme="purple"></div></div>
        <div class="color-wrapper"><div class="color red" data-theme="red"></div></div>
      </div>
    </button>
    <button class="btn" id="theme-toggle">Toggle Theme</button>
  </footer>

  <script type="text/html" id="main_tmpl">
    <div id="showerthought">
      <blockquote>
        <a href="<%= link %>"><%= post %></a>
      </blockquote>
      <hr class="halfrule">
      <p><%= author %></p>
    </div>
  </script>
  <script src="background.js"></script>
</body>
</html>
