<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Tab</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Spectral:400,500" rel="stylesheet">
</head>
<body>
  <div id="app" class="dark">
    <div id="view"></div>
    <footer>
      <button class="theme-toggles" data-theme="dark">Dark</button>
      <button class="theme-toggles" data-theme="light">Light</button>
    </footer>
  </div>
  <script type="text/html" id="main_tmpl">
    <div id="showerthought">
      <blockquote><%= post %></blockquote>
      <hr class="halfrule">
      <p><%= author %></p>
    </div>
  </script>
  <script src="background.js"></script>
</body>
</html>
